body,
html {
  margin: 0;
  padding: 0;
}

.main {}


/* global declaration css for svg */

svg {
  background-color: #87F2B7;
}

.titles, text, tspan {
  font-size:13px;
  fill="#4D4D4D";
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

@keyframes dash {
  0%{opacity: 0;}
  80%{opacity: 1;}
  to {opacity: 1;
      stroke-dashoffset: 0;
  }
}
.bkg-circles {
  stroke:#fff;
  fill:none;
  opacity:0.9;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}
.bkgCirc1{
  animation: dash 1.4s ease-in-out forwards;
}
.bkgCirc2 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.bkgCirc3 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}
.bkgCirc4 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.bkgCirc5 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
}
.bkgCirc6 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
}


/* satellite */
.satellites {
  fill: #D9FDE2;
}

@keyframes dotRotation1 {
 0% {
    opacity: 0;
      transform: rotate(0deg) translate(95px) rotate(0deg);
  }
  60%{ opacity: 1;}
  100% {
    opacity: 1;
    transform: rotate(380deg) translate(95px) rotate(-380deg);
  }
}
@-webkit-keyframes dotRotation1 {
  0% {
    opacity: 0;
      transform: rotate(0deg) translate(95px) rotate(0deg);
  }
  60%{ opacity: 1;}
  100% {
    opacity: 1;
    transform: rotate(380deg) translate(95px) rotate(-380deg);
  }
}
  
.satellite1{
  
  animation: dotRotation1 1.4s ease-in-out forwards;
  animation-delay: 0;
}

@keyframes dotRotation2 {
 0% {
    opacity: 0;
      transform: rotate(-60deg) translate(95px) rotate(60deg);
  }
  60%{ opacity: 1;}
  100% {
    opacity: 1;
    transform: rotate(330deg) translate(95px) rotate(-330deg);
  }
}
@-webkit-keyframes {}

@keyframes dotRotation3 {
 0% {
    opacity: 0;
      transform: rotate(-190deg) translate(95px) rotate(190deg);
  }
  60%{ opacity: 1;}
  100% {
    opacity: 1;
    transform: rotate(130deg) translate(95px) rotate(-130deg);
  }
}

.satellite2{
  opacity: 0;
  animation: dotRotation2 1.4s ease-in-out forwards;
  animation-delay: 0.4s;
}
.satellite3{
  opacity: 0;
  animation: dotRotation3 1.4s ease-in-out forwards;
  animation-delay: 1.1s;
}

.satellite4{
  opacity: 0;
  animation: dotRotation1 1.4s ease-in-out forwards;
  animation-delay: 1.5s;
}

.satellite5{
  opacity: 0;
  animation: dotRotation2 1.4s ease-in-out forwards;
  animation-delay: 1.9s;
}
.satellite6{
  opacity: 0;
  animation: dotRotation3 1.4s ease-in-out forwards;
  animation-delay: 2.2s;
}