body,
html {
  margin: 0;
  padding: 0;
}
svg{
  display: block;
  margin: auto;
  position: relative;
}
.main {
  text-align: center;
  background-color: #87F2B7;
  padding: 60px 60px;
}

@media (min-width:1200px) {
  svg{
  width:680px;
  height: auto;
}
}
@media (min-width:768px) and (max-width:1200px) {
  svg{
  width:510px;
}
}

/* data part : line, black dot and text */

#data {
  fill: #4D4D4D;
}

#titles {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

#lines {
  stroke: #4D4D4D;
  stroke-width: 0.7;
  stroke-linecap: square;
  fill: none;
}


/* circle animation */

@keyframes dash {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.bkg-circles {
  stroke: #fff;
  fill: none;
  opacity: 0.9;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  stroke-miterlimit: 10;
}

.bkgCirc1 {
  animation: dash 1.4s ease-in-out forwards;
}

.bkgCirc2 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.bkgCirc3 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}

.bkgCirc4 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.bkgCirc5 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
}

.bkgCirc6 {
  animation: dash 1.4s ease-in-out forwards;
  animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
}


/* satellite animation */

@keyframes dotRotation1 {
  0% {
    opacity: 0;
    transform: rotate(0deg) translate(95px) rotate(0deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(380deg) translate(95px) rotate(-380deg);
  }
}

@-webkit-keyframes dotRotation1 {
  0% {
    opacity: 0;
    transform: rotate(0deg) translate(95px) rotate(0deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(380deg) translate(95px) rotate(-380deg);
  }
}

@keyframes dotRotation2 {
  0% {
    opacity: 0;
    transform: rotate(-60deg) translate(95px) rotate(60deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(330deg) translate(95px) rotate(-330deg);
  }
}

@-webkit-keyframes dotRotation2 {
  0% {
    opacity: 0;
    transform: rotate(-60deg) translate(95px) rotate(60deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(330deg) translate(95px) rotate(-330deg);
  }
}

@keyframes dotRotation3 {
  0% {
    opacity: 0;
    transform: rotate(-190deg) translate(95px) rotate(190deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(130deg) translate(95px) rotate(-130deg);
  }
}

@-webkit-keyframes dotRotation3 {
  0% {
    opacity: 0;
    transform: rotate(-190deg) translate(95px) rotate(190deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(130deg) translate(95px) rotate(-130deg);
  }
}

.satellites {
  fill: #D9FDE2;
}

.satellite1 {
  opacity: 0;
  animation: dotRotation1 1.4s ease-in-out forwards;
  animation-delay: 0;
}

.satellite2 {
  opacity: 0;
  animation: dotRotation2 1.4s ease-in-out forwards;
  animation-delay: 0.4s;
}

.satellite3 {
  opacity: 0;
  animation: dotRotation3 1.4s ease-in-out forwards;
  animation-delay: 1.1s;
}

.satellite4 {
  opacity: 0;
  animation: dotRotation1 1.4s ease-in-out forwards;
  animation-delay: 1.5s;
}

.satellite5 {
  opacity: 0;
  animation: dotRotation2 1.4s ease-in-out forwards;
  animation-delay: 1.9s;
}

.satellite6 {
  opacity: 0;
  animation: dotRotation3 1.4s ease-in-out forwards;
  animation-delay: 2.2s;
}


/* FadeIn Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn;
  -webkit-animation: fadeIn;
  -moz-animation: fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
}

#icons {
  fill: #FFFFFF;
}


/* FadeInUp Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}